/* Main text color #434455 */
/* Secondary text color #2E2F42 */
/* Accent text color #F4F4FD */
/* Main page background #FFFFFF */
/* Box background 1 #2E2F42 */
/* Box background 2 #E7E9FC */
/* Box background 3 #F4F4FD */

:root {
  /* Colors */
  --main-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-text-color: #f4f4fd;
  --primary-brand-tcolor: #4d5ae5;
  --presed-state-color: #404bbf;
  --subtle-text-color: #8e8f99;
  --sucsses-text-color: #31d0aa;
  --box-background-action: #e7e9fc;
  --box-background-accent: #f4f4fd;

  /* Other */
  --ident-horizontal: 72px;
  --ident-vertical: 24px;
  --items: 1;
}

/* Visually hidden  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |=================================
  | Base styles
  |=================================
**/
html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.container {
  min-width: 320px;
  max-width: 428px;
  /* padding: 0 16px; */
  margin: 0 auto;
  outline: 2px solid tomato;
  outline-offset: -2px;
}

.cardset {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--ident-horizontal);
  column-gap: var(--ident-vertical);
  justify-content: center;
  align-items: center;
}

.subcontainer {
  flex-basis: calc(
    (100% - var(--ident-vertical) * (var(--items)-1)) / var(--items)
  );
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  text-align: center;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

.section {
  padding: 96px 0;
}

/**
  |=================================
  | Hero section #1
  |=================================
**/
.hero-box {
  /* max-width: 1440px; */
  margin: 0 auto;
  background-color: var(--secondary-text-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 112px 0;
}

.hero-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
  max-width: 320px;
}

/* Tablet screen */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .hero-tittle {
    font-size: 56px;
    font-weight: 600;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .hero-box {
    padding: 188px 0;
  }
  .hero-tittle {
    margin-bottom: 48px;
  }
}

/* Button on hero */
.button-hero {
  display: block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--primary-brand-tcolor);
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--presed-state-color);
}

/**
  |=================================
  | Features sections #2
  |=================================
**/

.low-marg {
  margin-bottom: 8px;
}

.features-title,
.projects-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

/* .team-section .subcontainer {
  min-width: calc((100% - 3 * 24px) / 4);
  background: #ffffff;
} */

.icon-box {
  display: none;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 8px;
  background: var(--accent-text-color);
  border-radius: 4px;
}

/* Tablet screen */
@media only screen and (min-width: 768px) {
  .subcontainer {
    --items: 2;
  }
  .title.low-marg {
    text-align: left;
  }
}

/* Desctop screen */
@media only screen and (min-width: 1158px) {
  .subcontainer {
    --items: 4;
  }
  .icon-box {
    display: flex;
  }
  .title.low-marg {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-text {
    /* align-items: baseline; */
    font-weight: 400;
  }
}

/**
  |==============================
  | What we are doing Section #3
  |==============================
**/

.doing-section {
  padding-bottom: 120px;
}

.subtitle,
.doing-tiltle,
.team-title,
.customers-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--secondary-text-color);
}

/* .team-section > .team-title {
  margin-bottom: 72px;
} */

.team-section {
  background-color: var(--box-background-accent);
}

.team-section .features-title,
.features-section .features-title {
  margin-bottom: 8px;
}

/**
  |============================
  | Our Team Section #4
  |============================
**/

/* .team-section {
  padding: 120px 0px;
} */

/* Desctop screen */
@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.card-content {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-box {
  padding: 32px 16px;
  text-align: center;
}

.card-box .text {
  margin-bottom: 8px;
}

/* Tablet screen */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .subcontainer {
    --items: 2;
  }
}

/* Desctop screen */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    /* padding: 0 15px; */
  }
  .subcontainer {
    --items: 4;
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.socials-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  fill: var(--accent-text-color);
  border-radius: 50%;
  background-color: var(--primary-brand-tcolor);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icons:hover,
.socials-icons:focus {
  background-color: var(--presed-state-color);
}
